body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header {
    display: flex;
    align-items: center;
}

img {
    max-width: 100px;
    margin-right: 20px;
    padding: 20px;
}

.company-info {
    flex-grow: 1;
}

main h2 {
    margin-top: 20px;
}

.chat-button {
    background-color: #25d366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

 
 /* Reset default margin and padding */
 * {
    margin: 0;
    padding: 0;
    font-family: 'Sofia Sans', sans-serif;
}

/* Style for the navigation bar */
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

ul {
    list-style: none;
    display: flex;
    margin-right: 35px;
}

li {
    margin-right: 40px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
}   
.fa-user{
    font-size: 25px;
}

.card-area {
    /* border: 1px solid red; */
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.card {
    background-color: #ababab;
    border: 1px;
    width: 200px;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 4px;
    flex-direction: column;
    z-index: 1;
}